body{
    font-family: sans-serif;
    width: 1920px;
    height: 100%;
}
header{
    margin-top: 0;
    height: 1012px;
    background: url("img/Sections background/section-1(header).jpg");
}
.header_wrapper{
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 120px;
    margin: 0 auto;
    background: rgba(94, 93, 88, 0.6);
    position: fixed;
}
.logo{
    display: flex;

}
.logo_letter{
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    height:67px;
    width: 46px;
    margin-top: 26px;
    padding-top: 19px;
    padding-left: 15px;
    background: url("img/header svg's/ham_bg.svg");
    background-repeat: no-repeat;
}
.logo_name{
    width: 110px;
    height: 46px;
    margin-top: 35px;
}
.logo_name_first{
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height:  48px;
}
.logo_name_second{
    color: #18CFAB;
    font-weight: 700;
    font-size: 32px;
    line-height:  48px;
    margin-right: 100px;
}
.menu_flex {
    list-style: none;
    padding: 0;
    margin-top: 48px;
    margin-left: 300px;
    display: flex;
    gap: 21px;
}
.nav_item{
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    padding-bottom: 10px;

}
.nav_item_link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 47px;
}
.nav_item_link:hover{
    transition-duration: 0.5s;
    color: rgba(24, 207, 171, 1);
    border-bottom: 2px solid rgba(24, 207, 171, 1);
}
.nav_item_search{
    padding-top: 2px;
}
.header_content{
    height: 100%;
    padding-top: 380px;
    text-align: center;
}
.header_main_content{
    color: white;
    margin-left: 47px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.header_main_content:first-child{
    margin-bottom: -16px;
    font-size: 35px;
    font-weight: 700;
    line-height: 1px;
}
.wordpress_theme{
    color: rgba(24, 207, 171, 1);
}
.header_main_content:nth-child(2){
    font-size: 78px;
    font-weight: 700;
    line-height: 1px;
}
.awesome_features{
    font-size: 34px;
    font-weight: 400;
    line-height: 1px;
    color: rgba(212, 212, 212, 1);
    margin-top: 30px;
}
.button_wrapper{
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 100px;
}
.btn{
    display: flex;
    justify-content: center;
    color: white;
    width: 169px;
    background: #ffffff;
    border-radius: 5px;
}
.btn_link{
    width: 100%;
    height: 100%;
    background: #18CFAB;
    margin-top: 5px;
    padding-top: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.btn_link_right{
    background: #00CBF6;
}
.btn_link:hover.header_btn{
    background: rgba(0, 203, 246, 1);
}
.options_grid{
    padding: 0;
    margin-top: 8px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,480px);
}
.offer_item{
    width: 482px;
    height: 377px ;
    Font-size: 20px;
    Line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.diamond_svg{
    margin-top: 3px;
}
.offer_item_first{
    background: #1C2A33;
    color: #18CFAB;
}
.offer_item_second{
    background: #18CFAB;
    color: white;

}
.offer_item_third{
    background: #1C2A33;
    color: #18CFAB;
}
.offer_item_last{
    background: #18CFAB;
    color: white;
}
.option_2_text{
    margin-top: 20px;
}
.option_4_text{
    padding-top: 16px;
}
.our_services{
    position: relative;
}
.section_title{
    margin-right: 10px;
    padding-top: 83px;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
hr{
    width: 75px;
    border: 1px solid #18CFAB;
    border-radius: 3px;
    background: #18CFAB;
}
.line_top{
    position: absolute;
    left: 910px;
}
.line_bottom{
    position: absolute;
    left: 920px;
    top: 42px;
}
.menu_bar{
    margin-top: 100px;
}
.service_flex{
    margin-right: 43px;
    display: flex;
    justify-content: center;
    list-style: none;
}
.service_item{
    background: #F8FCFE;
    color: #717171;
    border: 1px solid #EDEFEF;
    width: 195px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}
.tab{
    cursor: pointer;
}
.tab:hover{
    transition-duration: 0.5s;
    border-color: #18CFAB;
}
.service_content{
    display: flex;
    gap: 15px;
    margin-left: 370px;
}
.service_tab_img{
    width: 192px;
}
.service_img_text{
    width: 945px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
.advert_wrapper{
    background: url("img/Sections background/advert_bg.png");
    background-size: cover;
    margin-top: 100px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advert_title{
    margin-top: 125px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #18CFAB;
}
.advert_subtitle {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: #D8D8D8;
}
.btn.btn_advert{
    margin-top: 60px;
    padding-top: 5px;
}
.btn_ad{
    margin: 0;
    padding-left: 20px;
}
.amazing_work{
    background: #E9EDEF;
}
.work_tabs{
    margin-top: 100px;
}
.work_flex{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.work_item{
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    border: 1px solid #DADADA;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work_item:first-child{
    width: 77px;
}
.work_item:nth-child(2){
    width: 143px;
}
.work_item:nth-child(3){
    width: 117px;
}
.work_item:nth-child(4){
    width: 137px;
}
.work_item:last-child{
    width: 106px;
}
.work_grid{
    list-style: none;
    padding-left: 0;
    margin-top: 85px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,285px);
    grid-template-rows:repeat(3,205px) ;
}
.work_img{
    background: #1C2A33;
}
.load_more_btn{
    cursor: pointer;
    width: 168px;
    height: 63px;
    margin-top: 90px;
    margin-left: 875px;
    border-radius: 4px;
    background: #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_link_load_more{
    text-decoration: none;
}
.load_more_text{
    position: relative;
    margin-left: 15px;
    bottom: 2px;
    color: white;
    text-decoration: none;
}
.news_title{
    margin-left: 835px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: #4E4E4E;
}
.news_img{
    margin-left: 335px;
}
.news_grid{
    list-style: none;
    display: grid;
    gap: 45px 35px;
    grid-template-columns: repeat(4,263px);
}
.news_grid_img{
    width: 263px;
    height: 208px;
}
.news_grid_item>a:hover ~ .grid_item_text{
    transition-duration: 0.5s;
    margin-left:5px ;
    color: #18CFAB;
}
.news_grid_item>a:hover ~ .news_day{
    transition-duration: 1s;
    background: #18CFAB;
}
.grid_item_text{
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    color: #717171;
    padding-left: 10px;
}
.grid_item_subtext{
    padding-left: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}
.news_grid_item{
    position: relative;
}
.news_day{
    width: 70px;
    height: 68px;
    background: #203E38;
    color: white;
    top: 0;
    left: 193px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
li>a{
    text-decoration: none;
}
.about_the_ham{
    margin-top: 125px;
    background: url("img/Sections background/section-3.jpg");
}
.about_title_wrapper>hr{
    margin-right: 930px;
}
.about_the_ham_title{
    padding-top: 100px;
    margin-left: 700px;
    width: 530px;
    color: white;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}
.comma_img{
    width: 50px;
    margin-left: 927px;
    margin-top: 66px;
}
.footer_text_wrapper{
    margin-top: 35px;
    margin-left: 365px;
    width: 1160px;
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}
.person_name_block{
    margin-top: 40px;
    margin-left: 890px;
    width: 120px;
}
.name{
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #18CFAB;
    text-align: center;
}
.job{
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    color: #BBBBBB;
    text-align: center;
}
.person_img_wrapper{
    margin-left: 866px;
}
.person_img{
    margin-top: 38px;
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 145px;
}
.person_icon{
    position: absolute;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}
.people_img_selector{
    position: relative;
}
.people_img_selector>img{
    width: 60px;
    height: 60px;
    top: -15px;
}
.people_img_selector{
    margin-top: 70px;
    margin-left: 715px;
    padding-bottom: 100px;
}
#person_1{
    left: 66px;
}
#person_2{
    left: 160px;
}
#person_3{
    left: 260px;
}
#person_4{
    left: 360px;
}
.arrow_block{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(187, 187, 187, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.arrow_block_left{

}
.arrow_block_right{
    left: 452px;
}
.arrow_block:hover{
    background: #18CFAB;
    transition-duration: 0.5s;
}
.arrow{
    width: 10px;
    height: 15px;
}
.left_arrow{
    margin-right: 2px;
}
.right_arrow{
    transform: rotate(180deg);
    margin-left: 2px;
}
.copyright{
    height: 120px;
    background: rgba(34, 53, 63, 1);
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    display: flex;
    align-items: center;
}
.copyright>p{
    color: rgba(174, 174, 174, 1);
    margin-left: 800px;
}
.copyright>p>span{
    color: #18CFAB;
}
/*active elements*/
.service_item.active{
    background: #18CFAB;
    color: white;
}
.work_item.active{
   border-color: #18CFAB;
    color: #18CFAB;
}
.load_more_btn.hidden{
    display: none;
}
.person_icon.active{
    animation-name: anima_selector;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes anima_selector {
    0%{
        top: -15px;
    }
    100%{
        top:-45px;
    }
}
/*image_filter*/
.work_img{
    display: none;
}
.work_img.active{
    display: block;
}
.work_img.hidden{
    display: none;
}